<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Survey Form</h1>
    <form action ="/result" method="post">
        <h2>Your Name: <input type="text" name="name" value="name"></h2>
        <h2>Dojo Location 
            <select name="location">
                <option value="Dallas">Dallas</option>
                <option value="DC">DC</option>
                <option value="Chicago">Chicago</option>
                <option value="SF">SF</option>
          </select> 
        </h2>
        <h2>Favorite Language: 
                <select name="language">
                        <option value="Python">Python</option>
                        <option value="c#">c#</option>
                        <option value="MEAN">MEAN</option>
                        <option value="Java">Java</option>
                  </select> 
        <h2>Comments (optional): <input type="text" name="comments" value="comments"></h2>
        <input type="submit">
        
   
</body>
</html>