<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>DEEZNUTS</h1>
    <% for (var i = 0; i<result.length; i++){ %>
        <% for (var key in result[i]){ %>
            <h2><%= result[i][key] %></h2>
        <% } %>
    <% } %>
</body>
</html>