<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Here are the awesome quotes! </h1>
<%= users %>

<h2>here is the for loop</h2>

<% for(var i = 0; i < users.length; i++) { %>
    <p> Name: <%= users[i].name %> Color: <%= users[i].quote %></p>
    <p>_________________</p>
  <% } %>        


    
</body>
</html>