.content{
    background-color: #9fc5f7;
    border: solid;
    padding: 40px;
    display: inline-block;
    height: 540px;
    position: absolute;
    top: 140px;
    left: 6px;
    
}
button{
    border: solid;
}