<app-power-component [powerLevel]="powerLevel"></app-power-component>
<app-human-component [human]="powerLevel" ></app-human-component>
<app-saiyan-component [saiyan]="powerLevel" ></app-saiyan-component>
<app-super-saiyan-component [superSaiyan]="powerLevel"></app-super-saiyan-component>
<app-super-saiyan-two-component [superSaiyanTwo]="powerLevel"></app-super-saiyan-two-component>
<app-super-saiyan-three-component [superSaiyanThree]="powerLevel"></app-super-saiyan-three-component>
<app-super-saiyan-four-component [superSaiyanFour]="powerLevel"></app-super-saiyan-four-component>