<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Lets add a new mongoose buddy to the list!</h1>
    <form action="/mongooses" method="post">
        <h2>Name:</h2>             <input type="text" name="name">
        <h2>Home Region:</h2>      <input type="text" name="region">
        <h2>Family Species:</h2>   <input type="text" name="species">
        <input type="submit" value="create!">
        
    </form>

    <form action="/" method="get">
            <input type="submit" value="Back to homepage!">
    </form>
</body>
</html>