<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Submitted Information</h1>
    <ul>
    <li>Name: <%= data.name %></li>
    <li>Location: <%= data.location %> </li>
    <li>Favorite Language: <%= data.language %></li>
    <li>Comment: <%= data.comments %></li>
    </ul>

    <a href="/">Back</a>
</body>
</html>